<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Sport</title>
    <link rel="stylesheet" href="/css/master.css">
</head>
<body>
    <header class="encabezado">
        <figure class="logo"> 
            <img src="/img/betterLOGO1.png" alt="Logo better">
        </figure>
        <nav class="menu">
            <div class="menuIzquierdo">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Productos</a></li>
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Sobre Nosotros</a></li>
                </ul>

            </div>
            <div class="menuDerecho">
                <ul>
                    <li><a href="#">Inicio</a></li>
                    <li><a href="#">Registro</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <section class="imagenFondo">
        <img src="/img/banner.jpg" alt="Banner">
         </section>
    <h1> Temporada Otoño-Invierno</h1>
    <section class="Productos">
        <article class="producto">
            <img src="/img/botas marrones.jpg" alt="Botas">
            <h2>Botas</h2>
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eveniet quod mollitia, incidunt odio vero. Distinctio perferendis ut earum deserunt sit error inventore voluptate fugiat quidem! Aut molestias delectus quas!</p>
            <a href="#">Ver detalle</a>
            <article class="producto">
            </article>
        </article>
    </section>
    <footer class="pieDePagina">
        <h3>Todos los derechos reservados</h3>
        <ul>
            <li><a href="#">Facebook</a></li>
            <li><a href="#">Instagram</a></li>
            <li><a href="#">Linkedin</a></li>
        </ul>

    </footer>

    
</body>
</html>